/* style.css */
:root {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "PingFang TC", Arial, sans-serif;
    color: #213547;
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    line-height: 1.5;
    font-weight: 400;
}

/* 預設整個應用的字體略大，方便行動裝置閱讀 */
body {
    font-size: 18px;
}

#app {
    /*max-width: 1280px;*/
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*padding: 1rem;*/
}

/* 按鈕等全域設定 */
button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 20px; /* 小螢幕再放大些 */
    }
}
